.popup__input {
   width: 100%;
   max-width: 358px;
   height: 27px;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2em;
   border: none;
   border-bottom: 1px solid rgba(0, 0, 0, .2);
   margin-top: 28px;
}

.popup__input::placeholder {
   color: #000;
}

@media all and (min-width: 240px) and (max-width: 639px) {

   .popup__input {
      max-width: 238px;
   }
}