.popup__container {
    width: 100%;
    max-width: 430px;
    max-height: 330px;
    margin: 195px auto 0;
    position: relative;
    box-sizing: border-box;
 }

 @media all and (min-width: 240px) and (max-width: 639px) {
  

    .popup__container {
       max-width: 282px;
       max-height: 322px;
       margin-top: 123px;
    }
 }