.logo__image {
    width: 142px;
    height: 33px; 
 }

 @media all and (min-width: 240px) and (max-width: 639px) {
   
    .logo__image {
       width: 103px;
       height: 24px;
       padding-left: 27px;
    }
}