.popup__form {
    padding : 36px 36px 36px 36px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    margin: 0;
}

@media all and (min-width: 240px) and (max-width: 639px) {

    .popup__form {
        padding: 25px 22px 25px 22px;
    }
}