.card__like-button {
   width: 24px;
   height: 20px;
   background-image: url("../../../images/heart.svg");
   background-color: transparent;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   border: none;
   transition: .3s;
}

.card__like-button:hover {
   cursor: pointer;
   transform: scale(1.2);
   opacity: 0.5;
}

.card__like-active {
   background-image: url("../../../images/heartblack.svg");
}