.form__submit-btn {
   max-width: 358px;
   height: 48px;
   width: 100%;
   margin-top: 48px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.2px;
   text-align: center;
   color: #FFFFFF;
}

.form__submit-btn:hover {
   cursor: pointer;
   opacity: 0.8;
}

@media all and (min-width: 240px) and (max-width: 639px) {

   .form__submit-btn {
      max-width: 238px;
      max-height: 46px;
      font-size: 14px;
   }
}