.form__text {
   width: 100%;
   max-width: 358px;
   height: 27px;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2em;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   margin-top: 28px;
   opacity: 0.8;
}

@media all and (min-width: 240px) and (max-width: 639px) {

   .form__text {
      max-width: 238px;
   }
}