.card__del-button {
    background-image: url("../../../images/remove.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 18px;
    height: 19px;
    transition: .5s;
    position: absolute;
    top: 20px;
    right: 20px;
}

.card__del-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}