.popup__close {
   background: no-repeat center/98% url("../../../images/CloseIcon.svg");
   width: 32px;
   height: 32px;
   border: none;
   position: absolute;
   right: -38px;
   top: -38px;
   transition: .5s;
}

.popup__close:hover {
   cursor: pointer;
   opacity: 0.8;
}

@media all and (min-width: 240px) and (max-width: 639px) {

   .popup__close {
      width: 20px;
      height: 20px;
      right: 0;
   }
}