.profile__avatar {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

@media all and (min-width: 240px) and (max-width: 639px) {

    .profile__avatar {
        display: block;
        margin: 0 auto;
    }
}