@import url(../vendor/normalize.css);

.page {
   background: rgba(0, 0, 0, 1);
   margin: 0 auto;
   max-width: 1280px;
   box-sizing: border-box;
   font-family: 'Inter', 'Arial' , sans-serif;
}

.header {
   max-width: 880px;
   height: 74px;
   margin: 45px auto 0px;
   border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.logo__image {
   height: 33px;
   width: 142px;
}

.profile {
   max-width: 880px;
   margin: 40px auto 0px;
}

.profile__flex {
   display: flex;
}

.avatar {
   width: 148px;
   height: 124px;
}

.avatar__img {
   border-radius: 50%;
   height: 120px;
   width: 120px;
}

.profile__info {
   max-width: 336px;
   height: 73px;
   margin: 22px 0px 0px;
}

.profile__info-name {
   font-weight: 500;
   font-size: 42px;
   line-height: 1.1em;
   color: #FFFFFF;
   margin: 0;
   padding: 0;
}

.profole__button {
   width: 24px;
   height: 24px;
   background: no-repeat center/60% url("../images/slash.svg");
   border: 1px solid #FFFFFF;
}

.profole__button:hover {
   cursor: pointer;
   opacity: 0.8;
}

.profile__info-profession {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.2em;
   margin-top: 10px;
   margin-bottom: 0;
   padding: 0;
   color: #FFFFFF;
}

.add__button {
   width: 150px;
   height: 50px;
   background: no-repeat center/15% url("../images/plus.svg");
   border: 1px solid #FFFFFF;
   margin: auto 0px auto auto;
}

.add__button:hover {
   cursor: pointer;
   opacity: 0.8;
}

.elements {
   max-width: 880px;
   height: 744px;
   margin: 47px auto 0px;
   display: grid;
   grid-template-columns: repeat(auto-fit ,minmax(282px,1fr));
   gap: 20px 17px;
}

.element {
   width: 282px;
   height: 361px;
   background: #FFFFFF;
   border-radius: 10px;
   overflow: hidden;
}

.element__flex {
  width: 246px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.element__img {
   width: 282px;
   height: 282px;
}

.element__title {
   font-weight: 900;
   font-size: 24px;
   line-height: 1.2em;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.element__group {
   background: no-repeat center url("../images/heart.svg");
   min-width: 22px;
   height: 19px;
   border: none;
}

.footer {
   max-width: 880px;
}

.footer__copyright {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.2em;
   color: #545454;
   margin-bottom: 0;
}

@media all and (min-width: 640px) and (max-width: 960px) {
   .page {
      max-width: 640px;
   }

   .header {
      max-width: 600px;
   }

   .profile {
      max-width: 600px;
   }

   .elements {
      max-width: 600px;
   }
}

@media all and (min-width: 240px) and (max-width: 639px) {
   .page {
      max-width: 320px;
   }

   .logo__image {
      padding-left: 27px;
   }

   .header {
      max-width: 320px;
      margin-top: 28px;
   }

   .logo__image {
      width: 103px;
      height: 24px;
   }

   .profile__flex {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .avatar__img {
      display: block;
      margin: 0 auto;
   }

   .profile {
     max-width: 282px;
     margin-top: 20px;
   }

   
   .profile__info-name {
      font-size: 27px;
      line-height: 1.2em;
      text-align: center;
   }

   .profile__info-profession {
      font-size: 14px;
      line-height: 1.2em;
      text-align: center;
   }
   
   .profole__button {
      width: 18px;
      height: 18px;
   }

   .add__button {
      width: 282px;
      background-size: 6%;
      margin-top: 18px;
   }

   .elements {
      margin-top: 40px; 
   }
  
   .element {
      justify-self: center;
   }

   
  .footer {
   width: 282px;
   margin: 0 auto;
  }

   .footer__copyright {
      font-size: 14px;
      line-height: 1.2em;
   }

}

.popup__container {
   width: 430px;
   height: 330px;
   position: relative;
   background: rgba(0,0,0,.5);
   padding: 36px;
   margin: 0 auto;
}

.popup__close {
   background: no-repeat center url("../images/Close\ Icon.svg");
   width: 32px;
   height: 32px;
   border: none;
   position: absolute;
   right: 0;
   top: 0;
}

.popup__close:hover {
   cursor: pointer;
   opacity: 0.8;
}

.form {
   padding: 36px;
   background: #FFFFFF;
   border-radius: 10px;
}

.form__profile {
   font-size: 24px;
   line-height: 1.2em;
   margin-top: 0;
}

.input__text {
   width: 358px;
   height: 27px;
   border: none;
   border-bottom: 1px solid rgba(84, 84, 84, 1);
   margin-top: 30px;
}

.input__text_name {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2em;
}

.input__text_type_profession {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2em;
}

.form__submit-btn {
   width: 358px;
   height: 50px;
   background: #000000;
   border-radius: 2px;
   border: none;
   margin-top: 48px;
}

.form__submit-btn:hover {
   cursor: pointer;
   opacity: 0.8;
}

.form__submit-btn_text-save {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.2px;
   text-align: center;
   color: #FFFFFF;
}