@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-name/profile__info-name.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__info-profession/profile__info-profession.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__flex/card__flex.css);
@import url(../blocks/card/__img/card__img.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__del-button/card__del-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_is_opened/popup_is_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__profile/form__profile.css);
@import url(../blocks/form/__text/form__text.css);
@import url(../blocks/form/__submit-btn/form__submit-btn.css);




/* .popup_type_image {
   visibility: visible;
   opacity: 1;
} */

.popup__content {
   margin: 0;
   position: relative;
}

.popup__img {
   max-width: 75vw;
   max-height: 75vh;
}

.popup__title {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.25em;
   color: #FFFFFF;
   margin: 0;
   padding: 0;
}

.card__like-active {
   background: url("../images/heartblack.svg");
   z-index: 1;
}